<style>
    .card {
        background: #fff;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        h2 {
            margin-top: 0;
        }

        p {
            line-height: 1.6;
        }
    }
</style>
{% extends "base.html" %}
{% block title %}
    Договоры
{% endblock %}

{% block content %}
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Применить</button>
    </form>
    {% for contract in contracts %}
        <div class="card">
            <p>Клиент: {{ contract.client }} </p>
            <p>Тип страхования: {{ contract.contract }} </p>
            <p><strong>Срок действия:</strong> {{ contract.start_date|date:"d.m.Y" }}
                - {{ contract.end_date|date:"d.m.Y" }}</p>
            <p><strong>Сумма страхования:</strong> {{ contract.insurance_amount }}</p>
            <p><strong>Тарифная ставка:</strong> {{ contract.contract.insurance_type.commission_rate }}</p>
            <p><strong>Страховой агент:</strong> {{ contract.contract.agent }}</p>
            {% if contract.discount is not None %}
                <p><strong>Скидка:</strong> {{ contract.discount }}%</p>
            {% endif %}
            <small style="color: #bbbbbb;">
                Адрес филиала: {{ contract.contract.agent.branch }}
            </small>
        </div>
    {% endfor %}
{% endblock %}