<style>
    .card {
        background: #fff;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        h2 {
            margin-top: 0;
        }

        p {
            line-height: 1.6;
        }
    }
</style>
{% extends "base.html" %}

{% block title %}
    Подписанные контракты
{% endblock %}

{% block content %}
    {% for contract in contracts %}
        <div class="card">
            <p><strong>Контракт: </strong>{{ contract.contract.insurance_object }}</p>
            <p><strong>Клиент: </strong>{{ contract.client }}</p>
            <p><strong>Зарплата: </strong>{{ contract.agents_salary|floatformat:2 }}</p>
        </div>
    {% endfor %}
{% endblock %}